@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    color: rgb(205, 205, 50);
}

#addbtn{
  box-shadow:
  0 2.8px 2.2px rgba(255, 255, 255, 0.034),
  0 6.7px 5.3px rgba(244, 232, 232, 0.048),
  0 12.5px 10px rgba(248, 242, 242, 0.06),
  0 22.3px 17.9px rgba(255, 253, 253, 0.072),
  0 41.8px 33.4px rgba(234, 232, 232, 0.086);
  /* 0 100px 80px rgba(255, 252, 252, 0.12) ;  */
  transition: all 0.3s;
}
      
      